* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
ul li {
  list-style-type: none;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;
  background: rgba(255,255,255,0.2);*/
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*background: #888;*/
  background: rgba(255, 255, 255, 0.123);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
  background: rgba(255, 255, 255, 0.26);
}
body {
  margin: 0;
  padding: 0;
  background: #262626;
}
#notification-content-container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  padding-right: 20px;
}
.notifications-list-item {
  padding: 10px;
  margin: 10px 0;
}
.notifications-list-item .title-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.notifications-list-item .title-section .title {
  color: red;
  font-weight: bolder;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.notifications-list-item .title-section .title .status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.notifications-list-item .title-section .title .status {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: green;
  margin-right: 5px;
}
.notifications-list-item .title-section .time {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.hp_default_analytics_value_table{
  width: 100%;
}
.hp_default_analytics_value_table td{
  border: 1px solid rgba(72, 170, 255, 0.447);
  color: rgb(94, 161, 255);
  font-size: 13px;
  padding: 10px;
  text-align: center;
  background-color: #005f7a30;
}
.hp_default_analytics_value_table tr.headers td{
  background-color: #2fa1ff7a !important;
}
.hp_default_analytics_value_table td.title {
  color:rgba(255,255,255,0.4);
}
.direct-edit-form-field {
  border: 1px solid rgba(255,255,255,0.1);
  background: none;
  padding: 10px;
  font-size: 14px;
  color: white;
  width: calc(100% - 100px);
}
/*ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}*/
.popup-close-window-btn {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 10px;
  color: crimson;
  font-size: 20px;
}
.full-screen-container-shaded-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
}

.animated-status-icon {
  background: #333;
  border-radius: 50%;
  color: #666;
  transition: 0.5s;
}

.animated-status-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.animated-status-icon::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}
@keyframes animated-shadow-effect {
  0% {
    box-shadow: 0 0 2px white;
    text-shadow: 0 0 2px white;
  }
  100% {
    box-shadow: 0 0 20px white;
    text-shadow: 0 0 20px white;
  }
}
.animated-status-icon {
  animation: animated-shadow-effect 1s infinite;
  color: #ffee10;
  box-shadow: 0 0 0px #ffee10;
  text-shadow: 0 0 0px #ffee10;
}
.booking-status-tracker {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  padding-top: 20px;
}
.booking-status-tracker-stage {
  position: relative;
  width: 25%;
}
.booking-status-tracker-stage-point {
  position: absolute;
  top: -14px;
  right: -7px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.9);
}
.booking-status-tracker-stage-point.active {
  top: -14px;
  right: -7px;
  width: 24px;
  height: 24px;
  background-color: darkred !important;
}
.booking-status-tracker-stage-title {
  color: rgba(255, 255, 255, 0.733);
  margin-top: 20px;
  font-size: 12px;
  margin-right: -20px;
  text-align: right;
}
.general-two-flex-children {
  display: flex;
  justify-content: space-between;
}
.general-two-flex-child {
  width: calc(50% - 4px);
}
.shaded-info-center {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  min-height: 200px;
}
.page-data-info-p {
  font-size: 13px;
  margin-bottom: 5px;
  color: rgba(255,255,255,0.8);
}
.page-data-info-p span {
  font-size: 13px;
  font-weight: initial;
  color: rgb(143, 194, 252);
  margin-left: 10px;
}
input:focus {
  outline: none;
}
body {
  background-color: #000d1a;
}
.standard-search-input {
  background-color: rgba(0,0,0,0.07);
  border-radius: 50px;
  padding: 14px; 
  color: white;
  border: 1px solid rgba(255,255,255,0.1);
}
.standard-button {
  width: fit-content;
  padding: 10px;
  width: 130px;
  margin-bottom: 10px;
  background-color: darkslateblue;
  color: white;
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}
.standard-button:hover {
  background-color: rgb(55, 47, 109);
}
.standard-action-button {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #175794;
  color: white;
  border-radius: 50px;
  font-size: 13px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.standard-action-button:hover {
  background-color: #0f5ea9;
}
.top-search-box-submit-btn {
  border: none;
  background-color: #175794;
  padding: 10.5px;
  border-radius: 50px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  width: 60px;
}
.top-search-box-submit-btn:hover {
  background-color: #0f5ea9;
}
.site_logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  color: #a9ddff;
  cursor: pointer;
}
.site_logo_container p,
.site_logo_container span {
  font-size: 19px;
  /*font-family: "Bungee";*/
  text-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 1), 0px 0px 2.9px rgba(0, 0, 0, 1);
  font-family: "Audiowide";
  letter-spacing: 1px;
  font-weight: bolder;
}
.site_logo_container span {
  color: rgb(233, 128, 0);
}
.wrapper {
  max-width: 1800px;
  margin: auto;
  padding: 0 10px;
}
.bookings-pane-booking-list {
  width: 100%;
  border-spacing: 0;
}
.bookings-pane-booking-list tr {
  cursor: pointer;
}
.bookings-pane-booking-list tr.header {
  cursor: initial;
}
.bookings-pane-booking-list tr:hover td {
  background-color: rgb(181, 255, 209);
}
.bookings-pane-booking-list tr:hover td.header {
  background-color: rgb(236, 236, 236);
}
.bookings-pane-booking-list tr:hover td.edit-icon,
.bookings-pane-booking-list tr:hover td.booking-type-col {
  background-color: rgb(0, 59, 59);
}
.bookings-pane-booking-list td {
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.bookings-pane-booking-list-column {
}
.bookings-pane-booking-list-column.first {
  background-color: #eee;
}
.bookings-pane-booking-list-column.second {
  background-color: rgb(245, 245, 245);
}
.bookings-pane-booking-list td.header {
  background-color: rgb(245, 245, 245);
  color: rgba(0,0,0,0.8);
}
.bookings-pane-booking-list-column.booking-type-col {
  color: rgb(0, 233, 221);
}
.bookings-pane-booking-list-column.edit-icon,
.bookings-pane-booking-list-column.booking-type-col {
  cursor: pointer;
  color: white;
  background-color: rgb(0, 66, 66);
  text-align: center;
  /*font-size: 20px !important;
  padding: 0 !important;
  padding-left: 20px !important;*/
}
/*.bookings-pane-booking-list-column.edit-icon:hover {
  background-color: rgb(0, 116, 116);
}*/
.main-header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(100vw - 10px);
  max-width: 1900px;
  background-color: #0a1724;
  /*background-color: #0a1724;
  border-bottom: 1px solid rgba(255,255,255,0.2);*/
}
.header-right-side-icon {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-right-side-icon.active p {
  color: red !important;
}
.header-right-side-icon.active i {
  color: red !important;
}
.header-right-side-icon:hover p {
  color: orange !important;
}
.header-right-side-icon:hover i {
  color: skyblue !important;
}
.header-icon {
  font-size: 19px;
}
.header-icon.bumpup {
  font-size: 20px;
}
.header-icon-status-indicator {
  border: 2px solid #000d1a;
  position: absolute;
  top: 3px;
  right: 31px;
  width: 13px;
  height: 13px;
  background-color: orange;
  border-radius: 100%;
}
.main-search-box {
}
.main-search-box-title {
}
.main-menu-button {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.side-menu {
  position: fixed;
  top: 69px;
  left: 0;
  z-index: 101;
  height: calc(100vh - 69px);
  width: 100vw;
  overflow: auto;
  max-width: 200px;
  background-color: #0a1724;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.side-menu-items-list {
  /*padding: 0 10px;*/
  margin-bottom: 40px;
}
.side-menu-each-item {
  display: flex;
  flex-direction: row !important;
  padding: 5px 10px;
  height: 40px;
  cursor: pointer;
  border-left: 4px solid rgba(255, 166, 0, 0.247);
}
.side-menu-each-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.side-menu-each-item.active {
  border-left: 4px solid orange;
  background-color: rgba(255, 255, 255, 0.1);
}
.side-menu-each-item p {
  color: white;
  font-size: 13px;
}
.side-menu-each-item img {
  width: auto;
  height: 30px;
}
.side-menu-each-item i {
  color: yellow;
  font-size: 20px;
}
.side-menu-each-item-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  width: calc(100vw - 15px);
  padding-left: 210px;
  padding-top: 80px;
  padding-right: 10px;
}
.main-seaction-containers {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgb(255,255,255,0.1);
  min-height: 30px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  max-width: 1600px;
}
.title-font-color-default {
  color: #a9ddff;
}
.subtitle-font-color-default {
  color:rgb(214, 142, 219);
}
.regular-font-color-dark-bg {
  color: rgba(255,255,255,0.6);
}
#bookings-container {
}
.booking-pane-search-type-options {
  display: flex;
}
.booking-pane-search-type-each-option {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin-right: 5px;
  color: darkgrey;
  background-color: #eee;
  font-size: 12px;
  cursor: pointer;
}
.booking-pane-search-type-each-option i {
  margin-right: 10px;
  color: darkgrey;
}
.booking-pane-search-type-each-option.active {
  font-weight: bold;
  background-color: rgb(0, 25, 65);
  color: red;
  border: 1px solid rgba(209, 38, 192, 0.345);
}
.booking-pane-search-type-each-option.active i {
  color: rgb(209, 38, 192);
}
.booking-pane-search-type-each-option:hover {
  border-color: rgba(255, 183, 0, 0.178);
  color: crimson;
}
.booking-pane-search-type-each-option:hover i {
  color: rgb(233, 128, 0);
}
.booking-pane-search-inputs-area {
  display: flex;
}
.booking-pane-search-inputs-area-inputs-section {
  margin-top: 10px;
  width: 60%;
  max-width: 900px;
}
.booking-pane-search-inputs-area-other-section {
  /*padding: 10px;*/
  margin-top: 10px;
  width: calc(40% - 10px);
  margin-left: 10px;
  /*background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);*/
  border-radius: 6px;
}
#booking-home-page-booking-tracker-view-more-btn {
  margin-left: 20px;
  margin-bottom: 5px;
  background-color: rgb(28, 0, 69);
  border: 1px solid rgba(133, 11, 244, 0.4);
  padding: 10px 20px;
  /*color: rgba(255,55,25,0.8);*/
  color: white;
  cursor: pointer;
  font-weight: initial;
  border-radius: 6px;
}
#booking-home-page-booking-tracker-view-more-btn:hover {
  background-color: rgb(47, 0, 90);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white !important;
}
.two-inputs-flex-container {
  display: flex;
  justify-content: space-between;
}
.two-inputs-flex-child {
  width: calc(50% - 5px);
}
.pagination-numbers-list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.pagination-numbers-list .previous-next-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: green;
  font-size: 19px;
  width: 40px;
  text-align: center;
  height: 30px;
}
.pagination-numbers-list .previous-next-btn:hover{
  background-color: green;
  color: white;
}
.pagination-numbers-list .numbers {
  display: flex;
  flex-direction: row;
}
.pagination-numbers-list .numbers .each-number {
  font-size: 12px;
  cursor: pointer;
  background: rgb(239, 239, 239);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  text-align: center;
}
.pagination-numbers-list .numbers .each-number.active{
  background-color: orangered;
  color: white;
}
.pagination-numbers-list .numbers .each-number:hover{
  background-color: orangered;
  color: white;
}

.theme-warning {
 border-color: rgb(146, 0, 0) !important;
 background: rgba(244, 0, 0, 0.1) !important;
 color: rgb(225, 0, 0) !important;
}

.theme-attention {
  border-color: rgb(255, 231, 192) !important;
  background: rgba(246, 255, 0, 0.1) !important;
  color: rgba(246, 255, 0, 0.54) !important;
 }

@media screen and (max-width: 700px) {
  .pagination-numbers-list .previous-next-btn {
    font-size: 16px;
    width: 30px;
  }
  .pagination-numbers-list .numbers .each-number {
    width: 30px;
  }
  .popup-close-window-btn {
    right: 0;
  }
  .close-btn-with-bg {
    background-color: crimson;
    color: white;
    margin: 10px;
    border-radius: 6px;
    width: 40px;
    font-size: 14px;
    text-align: center;
  }
  #notification-content-container {
    height: calc(100% - 55px);
    position: fixed;
    top: 55px;
    padding-right: 10px;
  }
  .general-two-flex-children {
    display: block;
  }
  .general-two-flex-child.second {
    margin-top: 10px;
  }
  .general-two-flex-child {
    width: 100%;
  }
  .side-menu {
    display: none;
    top: 55px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  main {
    padding-left: 0;
    padding-top: 55px;
    width: 100%;
    padding-right: 0;
  }
  .main-header {
    padding-left: 0;
    width: 100%;
    height: auto;
  }
  .header-icon {
    font-size: 23px;
  }
  .header-icon.bumpup {
    font-size: 25px;
  }
  .header-icon-status-indicator {
    top: 0;
    right: 9px;
  }
  .main-search-box-title {
    display: none;
  }
  .header-icon-titles {
    display: none;
  }
  .main-menu-button {
    display: flex;
  }
  .main-seaction-containers {
    border-radius: 0;
    margin-bottom: 0;
  }
  .main-menu-company-title {
    /*display: none;*/
  }
  .booking-pane-search-type-options {
    width: 100%;
  }
  .booking-pane-search-type-each-option {
    width: 33%;
  }
  .booking-pane-search-inputs-area {
    display: block;
  }
  .booking-pane-search-inputs-area-inputs-section {
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
  .booking-pane-search-inputs-area-other-section {
    width: 100%;
    min-height: 200px;
    margin-left: 0;
  }
  .two-inputs-flex-container {
    display: block;
  }
  .two-inputs-flex-child {
    width: 100%;
  }
  .two-inputs-flex-child.last {
    margin-top: 10px;
  }
  .bookings-pane-booking-list-column.mobile-hidden,
  .bookings-pane-booking-list td.header.mobile-hidden {
    display: none !important;
  }
}

.loader2 {
  margin: 10px auto;
  height: auto;
  width: fit-content;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.loader2 svg path,
.loader2 svg rect {
  fill: #ff6700;
}